<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.king.zxing">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- unavailable in API 23 -->
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application>
        <activity
            android:name="com.king.zxing.CaptureActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>
