name: Publish

on:
  workflow_dispatch:
    inputs:
      confirm:
        description: 'Publish to Maven Central? (yes/no)'
        required: true
        type: string

jobs:
  publish:
    if: ${{ startsWith(github.repository, 'jenly1314/') && github.event_name == 'workflow_dispatch' && github.event.inputs.confirm == 'yes' }}
    uses: jenly1314/actions/.github/workflows/reusable-publish.yml@v1
    with:
      java-version-file: '.github/workflows/.java-version'
    secrets:
      maven-username: ${{ secrets.MAVEN_CENTRAL_USERNAME }}
      maven-password: ${{ secrets.MAVEN_CENTRAL_PASSPHRASE }}
      gpg-secret-key: ${{ secrets.GPG_SECRET_KEY }}
      gpg-secret-passphrase: ${{ secrets.GPG_SECRET_PASSWORD }}
